<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OBA - app</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="../styles.css" rel="stylesheet">
    <link href="../bootstrap.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <a href="/">
            <svg class="logo" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 607.09 322.22"><defs><style>.cls-1,.cls-2{fill:#fff;}.cls-2{fill-rule:evenodd;}</style></defs><title>oba-logo-white</title><path class="cls-1" d="M119.53,215.45c0-23.64-15.79-38-38.9-38s-38.92,14.14-38.92,38,15.61,38,38.92,38S119.53,239.33,119.53,215.45ZM0,215.45c0-47.22,31.84-85,80.63-85s80.68,38,80.68,85-31.84,85-80.68,85S0,262.9,0,215.45ZM536,198.9c0,14.46,1.28,46.58,22.16,46.58,11.34,0,16.75-12,16.75-22.3,0-18.57-9.8-35.87-28.85-35.87H536V198.9Zm48-11.34v.64c16.49,10.39,23.12,29.27,23.12,48.54,0,28.58-16.43,54.43-47.45,54.43-53.17,0-54.06-64.19-54.06-103.54-16.82,0-27.52,13.88-27.52,30.16a50.65,50.65,0,0,0,18.66,38.34l-25.91,25.34a98.1,98.1,0,0,1-25-67.48c0-55.07,28.15-69.71,79.34-69.71h78.14v43.28Z"/><path class="cls-2" d="M193.41,0h63.23V135.1h.82c14.33-19.71,38.85-26.81,65-26.81,58.21,0,93.61,52,93.61,108.68,0,61.84-40.31,105.25-100.74,105.25a79.61,79.61,0,0,1-62.86-31.69h-.82v26.94h-58.2V0ZM302.23,266.84c31.85,0,50.56-21,50.56-51.58s-19.1-51.59-50.56-51.59-50.62,20.91-50.62,51.78S270.71,267,302.23,267Z"/></svg>
        </a>
        <form class="search" action="/search" method="POST">
            <input type="text" name="searchQuery" placeholder="Zoek op een boek die je leuk vond..." class="search__input">
            <button type="submit" class="search__submit">Zoek</button>
        </form>
    </header>
    <main>
    