* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-display: swap;
}

main {
    margin: 25px;
}

/**************************************
HOMEPAGE
**************************************/
/* HEADER */
.header {
    background-color: rgb(233, 233, 233);
    width: 100%;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.logo {
    display: flex;
    justify-content: center;
    width: 250px;
    padding: 10px;
    margin: 0 auto;
}

.logo>path {
    fill: rgba(235, 31, 38, 0.85);
}

.search {
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
}

.search__input {
    flex-basis: 40%;

    padding: 20px;
    font-size: 18px;
    border: none;
}

.search__submit {
    flex-basis: 5%;

    border: none;
    background-color: rgb(150, 150, 150);
    padding: 10px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: all 200ms ease;
}

.search__submit:hover {
    background-color: #EB1F25;
}

.header__heart {
    position: absolute;
    right: 25px;
    top: 25px;
    cursor: pointer;
}

.header__heart svg {
    width: 30px;
}

.header__heart svg>g {
    fill: black;
}

.header__heart:hover svg>g {
    fill: #EB1F25;
}

/* POPULAR SECTION */
.popular-section,
.favorite-section {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-row-gap: 25px;
    grid-column-gap: 25px;
}

.popular-title {
    text-align: center;
    margin-bottom: 20px;
}

/**************************************
SEARCH PAGE
**************************************/
/* BOOKS SECTION */
.section-books {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-row-gap: 25px;
    grid-column-gap: 25px;
}

/* SEARCHED BOOK SECTION */
.searched-book {
    width: 175px;
}

.searched-book img {
    width: 100%;
}

/* BOOKS RESULTS */
.book-result__image {
    height: 200px;
    overflow: hidden;
    transition: all 200ms ease;
}

.book-result__image img {
    width: 100%;
}

.book-result__image:hover {
    transform: scale(1.08);
    transform-origin: bottom;
    cursor: pointer;
}

.book-result__image:hover img {
    filter: opacity(0.5);
}

/**************************************
DETAILPAGE
**************************************/
.details-overview {
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-column-gap: 25px;

    width: 60%;
    margin: 25px auto 0;
}

.details-overview__img {
    width: 100%;
}

.details-overview__img img {
    width: 100%;
}

.details-overview__details .details__title {
    margin: 0;
}

.details-overview__details .details__author {
    margin-top: 10px;
}

.details-overview__details .details__information {
    padding-left: 20px;
}

.add-to-favorites button {
    display: none;
    background-color: rgb(150, 150, 150);
    border: none;
    padding: 5px 10px;
    color: white;
    font-size: 16px;
    margin-left: 20px;
    cursor: pointer;
}

.add-to-favorites button:hover {
    background-color: #EB1F25;
}

/* Loader */
.loader {
    z-index: 1;
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
}

.loader svg {
    height: 5.5rem;
    width: 5.5rem;
    animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Custom heart checkbox */
input[type=checkbox].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

input[type=checkbox].css-checkbox+label.css-label {
    padding-left: 40px;
    height: 35px;
    display: inline-block;
    line-height: 35px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 18px;
    vertical-align: middle;
    cursor: pointer;
}

input[type=checkbox].css-checkbox:checked+label.css-label {
    background-position: 0 -35px;
}

label.css-label {
    background-image: url(../img/heart.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* UTILITIES */
.warning {
    text-align: center;
    color: #EB1F25;
}




/* RESPONSIVE */
@media only screen and (max-width: 1024px) {
    .popular-section,
    .favorite-section {
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 15px;
        grid-column-gap: 15px;
    }
}

@media only screen and (max-width: 640px) {
    .popular-section,
    .favorite-section {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
        grid-column-gap: 20px;
    }

    .book-result__image {
        height: 250px;
    }
}

@media only screen and (max-width: 480px) {
    .popular-section,
    .favorite-section {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
        grid-column-gap: 20px;
    }

    .book-result__image {
        height: 300px;
    }


    .book-result__image:hover {
        transform: scale(1);
    }
}